<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
      <array>
        <dict>
            <key>title</key>
            <string>美食</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>电影</string>
            <key>image</key>
            <string>icon_homepage_movieCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>酒店</string>
            <key>image</key>
            <string>icon_homepage_hotelCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>KTV</string>
            <key>image</key>
            <string>icon_homepage_KTVCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>优惠买单</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>周边游</string>
            <key>image</key>
            <string>icon_homepage_entertainmentCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>预定早餐</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>外卖</string>
            <key>image</key>
            <string>icon_homepage_takeoutCategory.png</string>
        </dict>
        
        <dict>
            <key>title</key>
            <string>美发</string>
            <key>image</key>
            <string>icon_homepage_beautyCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>购物</string>
            <key>image</key>
            <string>icon_homepage_lifeServiceCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>洗浴</string>
            <key>image</key>
            <string>icon_homepage_hotelCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>景点</string>
            <key>image</key>
            <string>icon_homepage_KTVCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>生活</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>小吃</string>
            <key>image</key>
            <string>icon_homepage_entertainmentCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>美甲</string>
            <key>image</key>
            <string>icon_homepage_takeoutCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>火锅</string>
            <key>image</key>
            <string>icon_homepage_shoppingCategory.png</string>
        </dict>
    </array>
</plist>
