<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   menuData.plist
   ZMTuan

   Created by zm on 4/13/16.
   Copyright (c) 2016 zm. All rights reserved.
-->
<plist version="1.0">
      <array>
        <dict>
            <key>title</key>
            <string>美食</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>电影</string>
            <key>image</key>
            <string>icon_homepage_movieCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>酒店</string>
            <key>image</key>
            <string>icon_homepage_hotelCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>KTV</string>
            <key>image</key>
            <string>icon_homepage_KTVCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>优惠买单</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>周边游</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>预定早餐</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>外卖</string>
            <key>image</key>
            <string>icon_homepage_takeoutCategory.png</string>
        </dict>
        
        <dict>
            <key>title</key>
            <string>一月</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>二月</string>
            <key>image</key>
            <string>icon_homepage_movieCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>三月</string>
            <key>image</key>
            <string>icon_homepage_hotelCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>四月</string>
            <key>image</key>
            <string>icon_homepage_KTVCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>五月</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>六月</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>七月</string>
            <key>image</key>
            <string>icon_homepage_foodCategory.png</string>
        </dict>
        <dict>
            <key>title</key>
            <string>八月</string>
            <key>image</key>
            <string>icon_homepage_takeoutCategory.png</string>
        </dict>
    </array>
</plist>
